@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/*I love me some border-box*/
* {
    box-sizing: border-box;
    color: #555555;
}

/*This just stops me getting horizontal scrolling if anything overflows the width*/
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/*Just removing default browser padding/margin*/
html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
}

/*Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the page never exceeding viewport height*/
.Top {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DADADA;
    font-size: 3rem;
}

.Container {
    display: flex;
    overflow: hidden;
    height: calc(100vh);
    position: relative;
    width: 100%;
    padding-top: 250px;
    padding-left: 250px;
}

.middle_header {
    height: 145px;
    /*width: 100%;*/
    position: fixed;
    z-index: 2;
    top: 100px;
    right: 0;
    left: 0;
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*background-color: #656565;*/
    /*font-size: 3rem;*/
    /*border: 0.5px #333333 solid;*/
    /*border-radius: 10px 10px 0 0;*/
    transition: margin-left .5s;
    padding-top: 20px;
    margin: 10px 10px 20px 260px;
}

/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/

#main-container {
    transition: padding-left .5s;
}

.Middle {
    overflow: auto;
    height: auto;
    /*padding: .6rem;*/
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: scrollbar;
    flex: 1;
    transition: padding-left .5s;
    padding: 10px 40px 10px 40px;
    color: #818181;
}

/*Entirely optional – just wanted to remove the scrollbar on WebKit browsers as I find them ugly*/
.Left::-webkit-scrollbar {
    display: none;
}

/* The navigation menu links */
.sidenav a {
    display: block;
    padding: 20px 20px 20px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;

}

hr {
    display: flex;
    margin: 0 0 0 5%;
    width: 90%;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f0f0f0;
    background-color: #D84F47;
    /*font-size: calc(20px);*/
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}

/* Position and style the close button (top right corner) */
.Top .closebtn {
    position: absolute;
    /*top: 15px;*/
    left: 30px;
    /*font-size: 36px;*/
    /*margin-left: 50px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*@media screen and (max-width: 450px) {*/
    /*.sidenav {padding-top: 15px; width: 0;}*/
    /*.sidenav a {font-size: 18px;}*/
/*}*/

/* The sidenav */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F0F0F0;
    overflow-x: hidden;
    margin-top: 100px;
    transition: 0.4s;
    /*padding-top: 15px;*/
}



.header-logo-with-name{
    align-items: center;
    justify-content: center;
}

.logo-img {
    display: flex;
    width: 65px;
    height: 65px;
}

.header-logo-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    margin-left: 15px;
    /*position: absolute;*/
    /*left: 35px;*/
    background-color: #FFF;
    border-radius: 39px;
}

.header-name {
    /*position: absolute;*/
    /*left: 100px;*/
    margin-left: 15px;
    width: 300px;
    font-size: 30px;
    /*font-style: italic;*/
}

.header-logout {
    background-color: #D84F47;
    position: absolute;
    right: 30px;
    width: 100px;
}

p#version {
    color: #b9b9b9;
    position: absolute;
    bottom: 100px;
    width: 20%;
    left: 40%;
}

@media (max-width: 768px) {
    .header-name {
        display: none;
    }

    #main-container{
        padding-left: 0;
    }

    #middle-header{
        margin-left: 0;
    }

    #mySidenav {
        width: 0;
    }
    /*.sidenav.active {*/
        /*margin-left: 0;*/
    /*}*/
}

@media (min-width: 991px) {
    .header-logo-element{
        position: absolute;
        left: 78px;
        /*width: 100%;*/
        /*align-items: center;*/
        /*justify-content: center;*/
    }
    .header-name {
        position: absolute;
        left: 180px;
    }
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}